/* Estilos para el componente EditTaskModal */
div {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    margin-bottom: 15px;
  }
  
  button {
    margin-right: 5px;
    cursor: pointer;
  }
  
  /* Puedes ajustar los estilos según tus preferencias */
  